@using System.Net
@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.Extensions.Options
@using Hledac.Domain.Rss
@using HledacFirmy.WebBlazorApp.Infrastructure
@using HledacFirmy.WebBlazorApp.Components.Controls

@page "/Rss/{Id:int}"
@rendermode InteractiveServer
@inject IOptions<RssApiOptions> _options
@inject IHttpClientFactory _clientFactory

<PageTitle>Rss Feed</PageTitle>
@if (_feed is not null)
{
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">@_feed.Title</h1>
            <p class="lead my-3">@_feed.Description</p>
            <p class="lead mb-0"><a href="@_feed.Link" class="text-white fw-bold">Zdroj...</a></p>
        </div>
    </div>

    @foreach(var feeditem in _feed.Items)
    {
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">@(string.Join(", ", feeditem.Categories))</strong>
                        <div class="mb-1 text-muted">@feeditem.PublishDate?.ToLongDateString()</div>
                        <p class="card-text mb-auto">@feeditem.Body</p>
                        <a href="@feeditem.Link" class="stretched-link">Číst ve zdroji...</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Feed? _feed;

    protected override async Task OnInitializedAsync()
    {
        string baseUri = _options.Value?.Uri ?? throw new ArgumentNullException(nameof(RssApiOptions.Uri));

        using var client = _clientFactory.CreateClient();
        client.BaseAddress = new Uri(baseUri, UriKind.Absolute);
        client.DefaultRequestHeaders.Add("Accept", "application/json");
        client.DefaultRequestHeaders.Add("User-Agent", "-WebClient");

        using var request = new HttpRequestMessage(HttpMethod.Get, string.Concat("feed/", Id));
        using var response = await client.SendAsync(request);
        response.EnsureSuccessStatusCode();

        using var responseStream = await response.Content.ReadAsStreamAsync();
        _feed = await JsonSerializer.DeserializeAsync<Feed>(responseStream, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }
}
