@using Hledac.Domain.Rss
@model Feed?

@if (Model is not null)
{
    <form id="updateRssSite" asp-controller="Home" asp-action="RssUpdate" method="post" role="form">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0">
            <h1 class="display-4 fst-italic">@Model.Title</h1>
            <p class="lead my-3">@Model.Description</p>
            <p class="lead mb-0"><a href="@Model.Link" class="text-white fw-bold">Zdroj...</a></p>
        </div>
        <button type="submit" id="updateRssSiteRssSubmit" name="updateRssId" value="@Model.Id" class="btn btn-light float-end">Aktualizovat</button>
    </div>
    </form>

    @foreach (var feeditem in Model.Items)
    {
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="mb-1 text-muted">rubrika: <strong class="d-inline-block mb-2 text-primary">@(string.Join(", ", feeditem.Categories))</strong></div>
                        <div class="mb-1 text-muted">@feeditem.PublishDate?.ToLongDateString()</div>
                        <p class="card-text mb-auto">@feeditem.Body</p>
                        <a href="@feeditem.Link" class="stretched-link">Číst ve zdroji...</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
